@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600;700&family=Playfair+Display:wght@600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-maroon: #0C3B2E;
  --color-gold: #FFBA00;
  --color-cream: #F5F3EC;
}

html.dark {
  color-scheme: dark;
}

body {
  background-color: #F5F3EC;
}
